/* Colors */
:root {
    --primary-color: #685CFC;
    --primary-highlight-color: #5748f1;
    --secondary-color: #C9C4FF;
    --secondary-highlight-color: #bbb6f1;
    --success-color: #b0a945;
    --success-highlight-color: #a19b3b;
    --danger-color: #b04560;
    --danger-highlight-color: #7b3043;
    --light-color: #EDEDED;
    --dark-color: #2a2a2a;
    --page-background-color: #eeeeee;
}

.primary-button{
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
}

.primary-button:hover{
    background-color: var(--primary-highlight-color);
    color: var(--light-color);
    font-weight: bold;
}

.secondary-button{
    background-color: var(--secondary-color);
    color: var(--dark-color);
    font-weight: bold;
}

.secondary-button:hover{
    background-color: var(--secondary-highlight-color);
    color: var(--dark-color);
    font-weight: bold;
}

.danger-button{
    background-color: var(--danger-color);
    color: var(--light-color);
    font-weight: bolder;
}

.danger-button:hover{
    background-color: var(--danger-highlight-color);
    color: var(--light-color);
}

.background{
    background-color: var(--page-background-color);
    height: 100vh
}

.card-title{
    color: var(--light-color);
    background-color: var(--primary-color);
}

.card-content{
    color: var(--dark-color);
    background-color: var(--secondary-color);
}

.card-list{
    border-color: var(--secondary-highlight-color);
}

.navbar{
    margin-bottom: 2rem;
    background-color: var(--secondary-highlight-color);
}

.navbar-logo{
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-logo:hover{
    color: var(--primary-highlight-color);
    font-weight: bolder;
}

.navbar-item{
    color: var(--dark-color);
    font-weight: normal;
}

.navbar-item:hover{
    color: var(--dark-color);
    font-weight: bold;
}

.navbar-name{
    align-self: center;
    color: var(--dark-color);
}