{% extends 'base.html' %}
{% block title %}
Atividades
{% endblock %}

{% block content %}
  <div class="text-center" style="margin-bottom: 1rem;">
    <div class="btn-group" >
      {% if filter != "subscribed" %}
      <a class="btn primary-button" href="/activities?filter=available">Atividades Disponíveis</a>
      <a class="btn secondary-button" href="/activities?filter=subscribed">Atividades Agendadas</a>
      {% endif %}

      {% if filter == "subscribed" %}
      <a class="btn secondary-button" href="/activities?filter=available">Atividades Disponíveis</a>
      <a class="btn primary-button" href="/activities?filter=subscribed">Atividades Agendadas</a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% for activity in activities %}
    <div class="col">
      <div class="card" style="margin: 0.5rem; min-width: 20rem; max-width: 20rem;">
        <div class="card-header" style="color: #ededed; background-color: #685CFC;">
          <h4>
            {{activity.subject}}
          </h4>
        </div>
        <div class="card-body text-center" style="color: #303030; background-color: #e1deff;">
          <div class="card-text">
            <h5>Tutor</h5>
            {{activity.tutor}}
            <hr/>

            <h5>Data de início</h5>
            {{activity.startDate}}
            <hr/>

            <h5>Vagas restantes</h5>
            {{activity.slotsOccupied}}/{{activity.slots}}
            <hr/>

            <h5>Local da atividade</h5>
            {{activity.meetingPlace}}
          </div> 
        </div>
        <div class="card-footer text-center" style="background-color: #ededed;">
          <form action="/activities/{{activity.id}}" method="GET">
            <button type="submit" class="btn primary-button">Ver mais</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}