{% extends 'base.html' %}
{% block title %}
Atividades
{% endblock %}

{% block scripts %}
<script>
  function formatDate(date){

  }
</script>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center mb-3">
    <div class="btn-group" >
      {% if filter != "subscribed" %}
      <a class="btn primary-button" href="/activities?filter=available">Atividades Disponíveis</a>
      <a class="btn secondary-button" href="/activities?filter=subscribed">Atividades Agendadas</a>
      {% endif %}

      {% if filter == "subscribed" %}
      <a class="btn secondary-button" href="/activities?filter=available">Atividades Disponíveis</a>
      <a class="btn primary-button" href="/activities?filter=subscribed">Atividades Agendadas</a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% for activity in activities %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-header card-title text-center">
            <h4>
              {{activity.subject}}
            </h4>
          </div>
          <div class="card-body text-center card-content">
            <div class="card-text">
              <h5>Data de início</h5>
              <div id="activityDate">
                {{activity.startDate | format_date}}
              </div>
              <hr/>
              <h5>Vagas restantes</h5>
              {{activity.slotsOccupied}}/{{activity.slots}}
            </div> 
          </div>
          <div class="card-footer text-center card-content">
            <form action="/activities/{{activity.id}}" method="GET">
              <button type="submit" class="btn primary-button">Ver mais</button>
            </form>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}