{% extends 'base.html' %}
{% block title %}
Tutores
{% endblock %}

{% block content %}
  <div class="row">
    {% for tutor in tutor_info %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-header card-title text-center">
            <h4>
              {{tutor}}
            </h4>
          </div>
          <div class="card-body text-center card-content">
            <div class="card-text">
              <h5>Áreas lecionadas</h5>
            </div>
          </div>
          <ul class="list-group list-group-flush card-content">
            {% for area in tutor_info[tutor] %}
              <li class="list-group-item card-content text-center card-list">
                {{area}}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}