{% extends 'base.html' %}
{% block title %}
Tutores
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="../static/Mestre.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grandíssimo mestre</h5>
        <p class="card-text">Esse é o nosso melhor tutor da empresa, ninguém até hoje conseguiu fazer melhor que ele. Confia!</p>
        <a href="https://www.inf.ufrgs.br/~dgbalreira/" target="_blank" class="btn btn-primary">Ir pra página dele</a>
      </div>
    </div>
  </div>
{% endblock %}